/**
 * @file
 * Styling for Collapsing Book Navigation Block(s)
 */
 /*
 .collapse {
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
  }
  .collapse.show {
    max-height: 99em;
    transition: max-height 0.5s ease-in-out;
  }*/
.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.block-collapsing-book-navigation .menu {
    padding-left: 0.25rem;
    margin-bottom: 0.25rem;
}

.block-collapsing-book-navigation .menu-item {
    list-style-type: none;
    margin: 0.5rem 0;
}

.block-collapsing-book-navigation .menu-list {
    padding-inline-start: calc(0.75rem - 1px);
}

.block-collapsing-book-navigation .menu-list, .block-collapsing-book-navigation .toggle-icon ~ .menu-link {
    margin-left: 0.25rem;
}

.block-collapsing-book-navigation .menu-link {
    margin-left: 1rem;
}

.block-collapsing-book-navigation .menu-link.active {
    font-weight: 600;
}

.block-collapsing-book-navigation .toggle-icon {
    margin-left: calc(-1rem + 0.0625rem);
}

.block-collapsing-book-navigation .toggle-icon::before {
    /*transition: transform 0.15s ease-in-out;*/
}

.block-collapsing-book-navigation .toggle-icon, .block-collapsing-book-navigation .toggle-icon:hover, .toggle-icon:active, .block-collapsing-book-navigation .toggle-icon:focus {
    text-decoration: none;
    border-bottom: none;
}

/* ▸ */
.block-collapsing-book-navigation .toggle-icon::before {
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 192 512'%3E%3Cpath fill='%23007bff' d='M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    width: calc(0.75rem - 1px);
    height: 1.1rem;
    vertical-align: middle;
    background-repeat: no-repeat;
}

/* ▾ */
.block-collapsing-book-navigation .toggle-icon.menu-item--expanded::before {
    transform: translateX(-0.125rem);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath fill='%23007bff' d='M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z'%3E%3C/path%3E%3C/svg%3E");
}

/* ○ */
.block-collapsing-book-navigation .menu-item .menu-link:first-child::before {
    content: ' ';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23007bff' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 448c-110.5 0-200-89.5-200-200S145.5 56 256 56s200 89.5 200 200-89.5 200-200 200z'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
    width: 0.6rem;
    height: 0.5rem;
    vertical-align: middle;
    background-repeat: no-repeat;
    margin-left: -1.25rem;
    margin-right: calc(0.25rem + 0.125rem);
    background-position: center;
}
